---
layout: base
---
<article class="wrap article">
  <nav class="crumbs"><a href="{{ "/articles/" | relative_url }}">Articles</a> <span>/</span> {{ page.date | date: "%b %-d, %Y" }}</nav>
  <header class="article-head">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%B %-d, %Y" }}{% if page.author %} &middot; {{ page.author }}{% endif %}{% if page.tag %} &middot; {{ page.tag | join: ", " }}{% endif %}</p>
  </header>
  <div class="prose" style="max-width:720px">{{ content }}</div>
  {%- if page.comments == true -%}
  <div class="comments" id="comments" style="max-width:720px"><script src="https://utteranc.es/client.js" repo="DataHerb/comments" issue-term="pathname" theme="preferred-color-scheme" crossorigin="anonymous" async></script></div>
  {%- endif -%}
</article>
