<div class="tile is-ancestor">
  <div class="tile is-vertical is-6">
    <div class="tile is-parent">
      <article class="tile is-child notification is-info">
        <a href="{{ site.explorer_url }}" style="text-decoration: none;"><p class="title">Try the Explorer</p></a>
        <p class="subtitle">Browse the DataHerb catalog, query datasets with SQL and check job status in your browser</p>
        <div class="content">
          <a href="{{ site.explorer_url }}" class="button is-light is-outlined"><i class="fas fa-search"></i>&nbsp;<span>Open the demo</span></a>
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-vertical is-6">
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <a href="{{ "/get-started/" | relative_url }}" style="text-decoration: none;"><p class="title">Run Your Own</p></a>
        <p class="subtitle">Fork it, list your datasets and deploy an internal catalog in minutes</p>
        <div class="content">
          <a href="{{ "/get-started/" | relative_url }}" class="button is-light is-outlined"><i class="fas fa-code-branch"></i>&nbsp;<span>Get started</span></a>
        </div>
      </article>
    </div>
  </div>
</div>
